[submodule "src/ros_realsense/realsense"]
	path = src/ros_realsense/realsense
	url = https://github.com/intel-ros/realsense.git
[submodule "timesync"]
	path = src/timesync
	url = https://github.com/larics/timesync.git
	branch = master
[submodule "src/openzenros"]
	path = src/openzenros
	url = https://bitbucket.org/lpresearch/openzenros.git
	branch = yolo_hall
[submodule "src/kacanopen"]
	path = src/kacanopen
	url = https://github.com/TrickfireRobotics/kacanopen
[submodule "src/cv_camera"]
	path = src/cv_camera
	url = https://github.com/TrickfireRobotics/cv_camera
