<launch>
    <node name="monitoring_battery" pkg="tfr_monitoring" type="monitoring_battery" output="screen"/>
    <node name="monitoring_arm_velocity" pkg="tfr_monitoring" type="monitoring_arm_velocity" output="screen">
        <rosparam>
            turnTableTolerance: 5.0
            lowerArmTolerance: 7.00
            upperArmTolerance: 3.00
            scoopTolerance: 2.00
            leftBinTolerance: 0.00
            rightBinTolerance: 0.00
        </rosparam>
    </node>
</launch>
