<launch>
    <node name="monitoring_battery" pkg="tfr_monitoring" type="monitoring_battery" output="screen"/>
    <node name="monitoring_arm_velocity" pkg="tfr_monitoring" type="monitoring_arm_velocity" output="screen">
        <rosparam>
            turnTableTolerance: 5
            lowerArmTolerance: 5
            upperArmTolerance: 5
            scoopTolerance: 5
        </rosparam>
    </node>
	<node name="read_arm_torque" pkg="tfr_monitoring" type="read_arm_torque"  output="screen"/>
</launch>
