<launch>
    <node name="navigation_action_server" pkg="tfr_navigation"
      type="navigation_action_server" output="screen">
        <rosparam>
            height_adjustment: .05
            safe_mining_distance: 3.5
            finish_line: 1.0
        </rosparam>
    </node>
    
    <remap from="openni_points" to="/planner_cloud"/>
    <remap from="base_scan" to="/base_scan"/>
    <remap from="map" to="/rtabmap/proj_map"/>
    <remap from="move_base_simple/goal" to="/planner_goal"/>
    
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find tfr_navigation)/params/move_base.yaml" command="load" />
        <rosparam file="$(find tfr_navigation)/params/shared_costmap.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find tfr_navigation)/params/shared_costmap.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find tfr_navigation)/params/local_costmap.yaml" command="load" />
        <rosparam file="$(find tfr_navigation)/params/global_costmap.yaml" command="load" />
        <rosparam file="$(find tfr_navigation)/params/base_local_planner_params.yaml" command="load" />
    </node>
</launch>
