<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node respawn="true" pkg="joy"
        type="joy_node" name="mission_control_joy" output="screen" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>
  <node pkg="turtlesim" type="turtlesim_node" name="sim"/>

  <node pkg="tfr_mission_control" type="tfr_mission_control" name="tfr_mission_control_node"
        output="screen">
  </node>
</launch>
