<!-- This launches the simulated robot -->

<launch>

  <arg name="gazebo" default="true"/>

  <!-- no clue what these do but they are in the robot.launch file *shrugs* -->
  <include file="$(find tfr_launch)/launch/core.launch"/>
  <include file="$(find tfr_executive)/launch/executive.launch"/>
  <include file="$(find tfr_sensor)/launch/sensor.launch"/>

  <!-- simulation version of /tfr_control/launch/control.launch -->

  <include file="$(find tfr_control)/launch/control.launch">
    <arg name="model" value="$(find tfr_description)/urdf_2021/urdf/urdf_ulti.urdf" />
  </include>

  <!-- Double **shrugs** -->
  <include file="$(find tfr_localization)/launch/localization.launch"/>
  <include file="$(find tfr_navigation)/launch/navigation.launch"/>
  <include file="$(find tfr_mining)/launch/mining.launch"/>
  <include file="$(find tfr_dumping)/launch/dumping.launch"/>
  <include file="$(find tfr_can)/launch/can.launch"/>
  <include file="$(find tfr_monitoring)/launch/monitoring.launch"/>

  <!-- gazebo -->
  <group if="$(arg gazebo)">
    <!-- these are the arguments you can pass this launch file, for example paused:=true -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <!-- gazebo launch -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="debug" value="$(arg debug)" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
      <arg name="headless" value="$(arg headless)"/>
    </include>


  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-z 1.0 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />

  </group>

</launch>
