<launch>
    <node name="my_camera" pkg="cv_camera" type="cv_camera_node" output="screen">
       <rosparam>
            file: "nvarguscamerasrc sensor-id=0 ! video/x-raw(memory:NVMM), width=2028, height=1520, format=NV12, framerate=(fraction)30/1 ! nvvidconv flip-method=2 ! video/x-raw, format=(string)BGRx ! videoconvert ! appsink"
            frame_id: front_cam_link
            rate: 30
        </rosparam>
    </node>
</launch>
