<launch>
    <node name="tread_distance_publisher" pkg="tfr_sensor" type="tread_distance_publisher" output="screen">
        <remap from="/left_tread_count" to="/device8/get_qry_abcntr/channel_1"/>
        <remap from="/right_tread_count" to="/device8/get_qry_abcntr/channel_2"/>
        <rosparam>
            maxTicks: 2147483647 
            ticksPerRevolution: 12800 #Using hall effect sensors 4 pulses per hall effect * 3 halls * 100:1 gear ratio equals 1200
#The encoder is 32 PPR, but the motor controller multiplies by 4. 
#Gear ratio is 100:1 for output shaft.  128 * 100 = 12800.  
            wheelRadius: 0.15
        </rosparam>
    </node>
    <node name="drivebase_odom_publisher" pkg="tfr_sensor" type="drivebase_odom_publisher" output="screen">
        <rosparam>
            parent_frame: odom
            child_frame: base_footprint
            wheel_span: 0.74 #This value does not match the real robot due to not being an ideal shape for differential drive. Must be tuned.
        </rosparam>
    </node>
</launch>
