<launch>
    <node name="light_detection_action_server" pkg="tfr_sensor" type="light_detection_action_server" output="screen">
        <remap from="image" to="/sensors/rear_cam/image_raw"/>
        <rosparam>
            threshold: 1.33
        </rosparam>
    </node>
    <node name="dumping_action_server" pkg="tfr_dumping" type="dumping_action_server" output="screen">
        <rosparam>
            image_service_name: /on_demand/rear_cam/image_raw
            half_robot_length: 0.5
            adjust_distance: 0.3
            odometry: /odometry/filtered
        </rosparam>
    </node>
</launch>
